/* Big tablet to 1200 px (widths: smaller than the defined 1140 row) */

@media only screen and (max-width: 1200px){

    
    .main-content-section{
    
    }


    .main-content{
        padding: 5% 0;
    }

    .main-details{
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
        padding-bottom: 5%;
        width: 70%;
        line-height: 120%;
        text-align: center;
    }

    .main-details h2{
        padding-bottom: 4%;
    }

}


/* Small tablet to big tablet 768 - 1023 px */

@media only screen and (max-width: 1023px){

    

    .logo{
        padding: 10px 0 10px 40px;
    }

    .menu ul{
        margin-top: 25px;
    }

    .menu ul li a{
        font-size: 18px;
    }

    /*banner*/

    .banner-text{
         padding: 15% 0;
    }

    .banner-text-items{
        width: 70%;
    }

    .banner-text-items h2{
        font-size: 1.5em;
        margin-bottom: 20px;
    }

    .banner-text-items p{
        font-size: 18px;
    }    

    /*main content*/
    
    .main-content{
     padding: 5% 0;
    }

    .main-details{
        width: 75%;
        font-size: 18px;
        line-height: 130%;
    }
    
/*    education section*/

    .education-experience h2{
        font-size: 1.5em;
        padding-bottom: 20px;
    }
    
    .education-experience{
        padding: 10% 5%;

    }


    .education-experience--1{
        padding: 4% 0 2% 0;
    }

    .education-experience--1,
    .education-experience--2,
    .education-experience--3,
    .education-experience--4{
        font-size: 18px;
    }

    /* coding section */
    
    .coding-header h2{
        font-size: 1em;
    }

    .web:hover,
    .web:active,
    .object-oriented:hover,
    .object-oriented:active,
    .databases:hover,
    .databases:active{
        border-radius: 10px;
        transform: scale(1.2);
    }

    .web-skills li,
    .object-oriented-skills li,
    .databases-skills li{
        font-size: 18px;
    }
    
    /*contact section*/

    .contact{
        flex-flow: row wrap;
    }


    .contact h2{
        padding: 2% 0 3% 0;
    }
    
    .contact__card{
    
        width: 700px;

/*        align-self: center;*/
        flex-flow: row wrap;



        overflow: hidden;
        border-radius: 10px;
        box-shadow: 0 30px 80px 10px rgba(0,0,0,.8);
    }

    .contact__card__hero{
        flex: 0 0 40%;
    }

    .contact__card__content{
        margin-bottom: 0;
    }

    .contact__card__content__title{

        font-size: 16px;
    }

    
    .contact__card__description ul{
        margin-top: 10px;
        list-style: none;

    }

    .contact__card__description ul li{
        font-size: 16px;
        margin-bottom: 10px;
    }



    .contact__card__college{
        font-size: 16px;
        font-weight: 500;
    }

    .contact__card__college_logo{
        width: 20px;
    }
    
}

/* Small phones to small tablets 481 - 767 px */

@media only screen and (max-width: 767px){
	
	

	
}

/* Small phones 0 - 480 px */

@media only screen and (max-width: 480px){

/*
	section { padding: 25px 0; }
	
	.contact-form { width: 100%; }
*/

}